@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply leading-[normal] m-0;
}

*,
::before,
::after {
	border-width: 0;
}

::-webkit-scrollbar {
	display: none;
}

/* fullcalendar */
.calendar {
	display: flex;
	min-height: 100%;
	font-size: 14px;
}

.fc {
	/* the calendar root */
	max-width: 1100px;
	margin: 0 auto;
	font-family: 'Urbanist', sans-serif;
}
